# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Shellcore-Revival/.vs/Shellcore-Revival/v15
/Shellcore-Revival/Shellcore-Revival.vcxproj.user
/Shellcore-Revival/Debug
/Shellcore-Revival/Shellcore-Revival/Debug
