# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/Libs
/Shellcore-Revival/.vs/Shellcore-Revival/v15
/Shellcore-Revival/.vs/Shellcore-Revival/v15/.suo
/Shellcore-Revival/Shellcore-Revival/Debug
/ShellCoreCommandCpp/.vs/Shellcore-Revival/v15
/ShellCoreCommandCpp/Debug
/ShellCoreCommandCpp/ipch/shellcorecommandc++-8d62cf4d
/ShellCoreCommandCpp/Release
/ShellCoreCommandCpp/Shellcore-Revival/Release
/ShellCoreCommandCpp/Shellcore-Revival/Shellcore-Revival.vcxproj
*.user
/ShellCoreCommandCpp/Shellcore-Revival/Debug
